$light-color: rgb(0, 12, 140);
$font-stack: Arial, Helvetica, sans-serif;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #000;
}
h1,
h2,
p {
  font-family: $font-stack;
}

//  *************************************** Navabar Styling ***************************************************************
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  font-family: $font-stack;
  font-weight: 800;
  color: #fff;
  font-size: 20px;
}
.nav-menu {
  display: flex;
  gap: 2rem;
}

.hamburger {
  display: none;
}
.line {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.nav-link[aria-current="page"] {
  text-decoration: underline #fff 0.17rem;
  text-underline-offset: 0.5rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 5;
  }
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: #000;
  }
  .hamburger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    background-color: #000;
  }

  .line.active {
    background-color: #000;
  }

  .nav-menu {
    position: absolute;
    display: none;
    transition: 1.3s ease;
  }

  .nav-menu.active {
    display: block;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 770vh;
    text-align: left;
    transition: 1.3s ease;
    padding-top: 18rem;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 2;
  }
  .nav-link {
    color: #000;
    font-size: 45px;
    padding-left: 3rem;
  }

  nav.active {
    background-color: #fff;
  }
}

// making links active

li a:is(:link, :active, :visited).line.active {
  color: rgb(225, 0, 0);
  background-color: blue;
}

// ****************************************************************Home Page Slider styling ***********************************************

main {
  .swiper-container {
    margin-top: 6rem;
  }
}

.swiper-wrapper {
  text-align: center;

  .swiper-slide {
    color: #fff;
    height: 320px;
  }

  .swiper-slide {
    .vid {
      position: relative;
      width: inherit;
    }
  }

  .title {
    position: relative;

    color: #fff;
    text-align: left;
    h2 {
      font-family: $font-stack;
      font-size: 30px;
    }
    p {
      color: rgb(204, 204, 204);
      font-size: 20px;
    }
  }
}

// make images darker on hover

.swiper-wrapper:hover > div {
  filter: grayscale(1);
}
.swiper-wrapper:hover > div:hover {
  filter: grayscale(0);
}

// Responsiveness
@media (max-width: 769px), (max-width: 980px) {
  .swiper-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100% !important;

    .swiper-slide {
      width: 100vw !important;
      position: relative;
      height: 100% !important;

      .title {
        padding-left: 2rem;
      }
    }
  }

  .swiper-container {
    width: 100% !important;
    .swiper-pagination {
      display: none;
    }
  }
}

// *******************************Contact Page Styling *********************************************

.contact-content {
  display: flex;
  align-items: center;
  gap: 8rem;
  margin-top: 5rem;
  margin-left: 2rem;

  .contact-image {
    width: 70%;
  }

  .details {
    color: #fff;

    h1 {
      position: absolute;
      top: 100px;
      left: 480px;
      font-size: 300px;
      color: rgb(49, 49, 49);
      width: 60%;
    }
    .name-surname {
      margin-top: 10rem;
    }
    .contact-details {
      line-height: 0.3;

      p {
        width: 100%;
      }

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
      }
    }
  }
  .details p {
    font-size: 26px;
    width: 55%;
  }
}

.socials {
  display: flex;
  align-items: center;
  flex: shrink 1;

  p {
    width: 10rem !important;
  }
}

.icon {
  width: 30px;
  margin-right: 1rem;
}

//
@media (max-width: 1079px), (max-width: 1175), (max-width: 1103px) {
  .contact-content {
    .details {
      h1 {
        font-size: 250px;
      }
      p {
        width: 100%;
      }

      .contact-details {
        p {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 769px), (max-width: 990px) {
  .contact-content {
    flex-direction: column;
    justify-content: center;
    .contact-image {
      height: 600px;
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .contact-details {
        p {
          width: 100%;
        }
      }

      p {
        width: 100%;
        font-size: 30px;
      }
      h1 {
        // width: 100%;
        font-size: 180px;
        text-align: center;
        left: 10%;
        top: 30%;
      }
    }

    .socials {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
